*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; /* сброс начальных значений шрифта с 16px до 10, теперь 1rem = 10px*/
    font-weight: normal;
    color: #ffffff;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* сохранение соотношения сторон*/
    flex-shrink: 0; /* сдерживает сжатие*/
}

a {
    text-decoration: none;
    color: inherit; /*берет цвет родителя*/
}

button, input {
    outline: none; /*нет рамки при клике*/
    border: none;
    cursor: pointer; /*курсор при наводке в виде пальца*/
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem; /*130px*/
    margin: 0 auto;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: white;

}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-naw a:not(:last-child) {
    margin-right: 7.1rem;
}

.header-naw a {
    font-size: 1.6rem;
    line-height: 150%;
}

.header-logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header-button {
    margin-left: 55.3rem;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    font-size: 1.6rem;
    line-height: 150%;
}

.main-display-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display {
    padding-top: 27rem;
}

.main-display .container {
    position: relative;
    z-index: 10;
    padding-bottom: 12.8rem; /*Дополнительный отступ для второго блока из-за особенности позиционирования*/
}

.main-display-header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 140%;
}

.main-display-timer {
    display: flex;
    margin-bottom: 7.6rem;
}

.main-display-button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    font-size: 1.6rem;
    line-height: 150%;
}

.timer-item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer-item:not(:last-child) {
    margin-right: 3rem;
}

.timer-count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%;
}


.timer-text {
    font-size: 1.6rem;
    line-height: 140%;
    opacity: 0.4;
}

.work {
    padding-top: 20rem;
    padding-bottom: 24.3rem;
}

.work-wrap {
    display: flex;

}

.work-img {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}

.work-text {
    max-width: 63.6rem;
    padding-top: 6.9rem;
}

.work-header {
    margin-bottom: 4.5rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.work-description {
    font-size: 1.6rem;
    line-height: 160%;
}

.process {
    position: relative;
    padding-bottom: 20rem;
}

.process .process-img { /*Поворот изображения*/
    transform: rotate(45deg);
}

.process-img {
    width: 9rem;
    height: 4.5rem;
    margin-right: 2rem;
}

.process-header {
    margin-bottom: 4.9rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    padding-top: 1rem;
}

.process-title {
    display: flex;
}

.process-description {
    max-width: 41.1rem;
    margin-bottom: 8rem;
    font-size: 1.6rem;
    line-height: 140%;
    opacity: 0.5;
}

.process-columns {
    margin-bottom: 20rem; /*Дал отступ снизу*/
    display: flex;
}

.process-columns::after {
    content: "";
    display: block;
    width: 130rem;
    height: 0.2rem;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translate(22.8%, 0);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);

}

.process-item {
    max-width:

            30.6rem;
}

.process-work {
    margin-bottom: 6.5rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
}

.process-text {
    font-size: 1.4rem;
    line-height: 160%;
    opacity: 0.5;
}

.command {
    padding-bottom: 20rem;
}

.command-title {
    margin-bottom: 11.9rem;
}

.command-header {
    margin-bottom: 0;
}

.command-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 11rem;
    padding-right: 11rem;
}

.command-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.command-img {
    width: 19rem;
    height: 19rem;
    margin-bottom: 4rem;
    border-radius: 50%;
}

.command-name {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 1.5rem;
}

.command-profession {
    font-size: 1.6rem;
    line-height: 140%;
    margin-bottom: 3rem;
}

.command-link {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    border: .1rem solid #ffffff;
}

.assembly {
    padding-bottom: 4.4rem;
}

.assembly-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.assembly-header {
    margin-bottom: 3rem;
    font-weight: 700;
    line-height: 140%;
    font-size: 4.8rem;
}

.assembly-description {
    margin-bottom: 4.52rem;
    font-size: 1.6rem;
    line-height: 160%;
}

.assembly-button {
    margin-bottom: 5.08rem;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 150%;
}

.assembly-socials {
    display: flex;
}

.assembly-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.assembly-item img {
    width: 50%;
    height: 50%;
}

.assembly-item:not(:last-child) { /*Все элементы, кроме последнего*/
    margin-right: 3rem;
}
